header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

.lista-menu {
    display: flex;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; 
}

nav a:hover {
    color: #C78C19;
}

#banner {
    width: 100%;
}


.principal {
    background: #CCCCCC;
    padding: 30px;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

.titulo-centralizado {
    text-align: center;
    margin-bottom: 20px;
}

.texto-centralizado {
    text-align: center;
    margin-bottom: 22px;
}

span {
    font-weight: bold;
}

#missao-centralizada {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

em strong {
    color: red;
}


.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}


.items {
    font-style: italic;
    list-style-type: disc;
    margin: 5px;
    margin-left: 40px;

}


.imagem-beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("/img/produtos/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color:white;
    font-size: 13px;
    margin-top: 20px;
}

footer {
    text-align: center;
    background: url("/img/produtos/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color:white;
    font-size: 13px;
    margin-top: 20px;
}
